<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Story-6 wibias</title>
    <style>
      body {
        background-color: rgb(255,91,71,0.85);
      }
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      #button {
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
      }
      .button:hover {
        background-color: rgb(138,138,138); /* Green */
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        color: white;
      }
      .status-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
      }
      form {
        display: flex;
        flex-direction: column;
      }
      form p {
        display: flex;
        flex-direction: column;
      }
      form button {
        align-self: center;
        height: 4vh;
        width: 30%;
      }
      #status {
        margin-top: 3px;
        font-size: 20px;
        margin-bottom: 30px;
      }
      #date {
        font-size: 15px;
        background-color: #00000033;
        margin-bottom: 5px;
      }
      .status-header {
        margin-top: 100px;
      }
    </style>
    
  </head>
  <body>
    <div class="container">
      <h1 class="header">Halo, apa kabar?</h1>
      <form method="POST" class="register-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="button">Post</button>
      </form>
      <h2 class="status-header">Status Terbaru</h2>
		  <div class="status-container">
		    {% for obj in status %}
		    <p id="date">{{obj.date}}</p>
		    <p id="status">{{obj.status}}</p>
		    {% endfor %}
      </div>
    </div>
    
  </body>
</html>
